<h1>Chairs#index</h1>
<p>Find me in app/views/chairs/index.html.erb</p>

<% @chairs.each do |chair| %>
  <p>id:<%= chair.id %></p>
  <p>legs:<%= chair.legs %></p>
  <p>height:<%= chair.height %></p>
  <p>material:<%= chair.material %></p>
  <p>color:<%= chair.color %></p>
  <hr>
<% end %>
