<h1>This is showing one particular chair</h1>

<p>id: <%= @chair.id %></p>
<p>material: <%= @chair.material %></p>
<p>color: <%= @chair.color %></p>
<p>height: <%= @chair.height %></p>
<p>legs: <%= @chair.legs %></p>


throw out the chair
<%= button_to "delete the chair", "/chairs/#{@chair.id}", method: :delete %>
